<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test thread-count="5" name="Test1">
  <parameter name="browser" value="chrome"/>
   <parameter name="ipaddress" value="192:0.98"/>
  <classes>
  <class name="basics.Test6"/>
  </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="Test2">
  <parameter name="browser" value="firefox"/>
   <parameter name="ipaddress" value="90.89.99"/>
  <classes>
  <class name="basics.Test6"/>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
